---
layout: default
---

<div class="home">

  <h1 class="page-heading">Welcome</h1>
  <p>This is empty for now, should get populated soon. To appeal a ban or report an issue, join our Discord.</p>

</div>
